# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
media/fonts/batang.ttf
ipch/
.vs/
Debug/
*.opendb
*.db
*.bak
Release/
*.psess
*.pdb
*.vspx
*.vsp
media/meshes/dragon_vrip.ply
media/meshes/dragon_vrip_scaled.ply
media/meshes/BlendFiles/StanfordDragon.blend
