# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
media/fonts/batang.ttf
ipch/
.vs/
Debug/
*.opendb
*.db
*.bak
Release/
*.psess
*.pdb
*.vspx
*.vsp
media/meshes/dragon_vrip.ply
media/meshes/dragon_vrip_scaled.ply
media/meshes/BlendFiles/StanfordDragon.blend
stb/data/
stb/deprecated/
stb/tests/
stb/tools/
*.zip
3RDPartyLibs/glfw-3.2.1/BUILD/
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/3.5.2/CompilerIdC/CMakeCCompilerId.c
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/3.5.2/CompilerIdC/CompilerIdC.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/3.5.2/CMakeCCompiler.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/3.5.2/CMakeDetermineCompilerABI_C.bin
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/3.5.2/CMakeRCCompiler.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/3.5.2/CMakeSystem.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/610c2130361e174d6afe77a6856f8916/INSTALL_force.rule
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/7dfc2fef96e33c0cf0152168bcedd458/docs.rule
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/7dfc2fef96e33c0cf0152168bcedd458/INSTALL_force.rule
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/8aa3257cbc6a246135e6835f0924050a/INSTALL_force.rule
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/99921a99630ac444f7a9bfca5e96a74a/INSTALL_force.rule
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/a5dbb3a97b176cdb561c2d297b6edfe5/generate.stamp.rule
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/a5dbb3a97b176cdb561c2d297b6edfe5/INSTALL_force.rule
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/a5dbb3a97b176cdb561c2d297b6edfe5/uninstall.rule
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-debug.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-minsizerel.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-release.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-relwithdebinfo.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/cmake.check_cache
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/CMakeError.log
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/CMakeOutput.log
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/generate.stamp
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/generate.stamp.depend
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/generate.stamp.list
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/TargetDirectories.txt
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/CMakeFiles/generate.stamp
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/CMakeFiles/generate.stamp.depend
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_0.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_0.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_1.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_1.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_2.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_2.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_3.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_3.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_4.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_4.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_5.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_5.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_6.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_6.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_7.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_7.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_8.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_8.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_9.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_9.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_a.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_a.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_b.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_b.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_c.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_c.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_d.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_d.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_e.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_e.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_f.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/all_f.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/classes_0.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/classes_0.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/close.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/defines_0.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/defines_0.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_0.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_0.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_1.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_1.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_2.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_2.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_3.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_3.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_4.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_4.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_5.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_5.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_6.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_6.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_7.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_7.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_8.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/files_8.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/functions_0.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/functions_0.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_0.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_0.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_1.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_1.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_2.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_2.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_3.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_3.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_4.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_4.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_5.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_5.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_6.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_6.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_7.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_7.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_8.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_8.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_9.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/groups_9.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/mag_sel.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/nomatches.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_0.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_0.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_1.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_1.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_2.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_2.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_3.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_3.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_4.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_4.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_5.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_5.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_6.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_6.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_7.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_7.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_8.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/pages_8.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/search.css
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/search.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/search_l.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/search_m.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/search_r.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/searchdata.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/typedefs_0.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/typedefs_0.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/variables_0.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/variables_0.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/variables_1.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/variables_1.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/variables_2.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/variables_2.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/variables_3.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/variables_3.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/variables_4.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/variables_4.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/variables_5.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/variables_5.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/variables_6.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/search/variables_6.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/annotated.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/arrowdown.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/arrowright.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/bc_s.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/bdwn.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/bug.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/build_8dox.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/build_guide.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/classes.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/closed.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/compat_8dox.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/compat_guide.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/compile_8dox.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/compile_guide.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/context_8dox.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/context_guide.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/dir_7d046523570a4bf058ddf3b10b545b6c.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/dir_d44c64559bbebec7f509842c48db8b23.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/doc.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/doxygen.css
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/doxygen.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/dynsections.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/extra.css
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/files.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/folderclosed.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/folderopen.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/functions.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/functions_vars.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/glfw3_8h.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/glfw3_8h_source.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/glfw3native_8h.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/glfw3native_8h_source.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_b.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_c.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_d.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_b.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_c.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_d.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_e.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_f.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_g.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_h.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_i.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_j.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_k.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_l.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_m.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_n.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_o.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_p.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_r.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_s.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_t.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_defs_v.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_e.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_f.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_func.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_g.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_h.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_i.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_j.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_k.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_l.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_m.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_n.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_o.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_p.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_r.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_s.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_t.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_type.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_v.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/globals_w.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/group__buttons.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/group__context.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/group__errors.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/group__init.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/group__input.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/group__joysticks.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/group__keys.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/group__mods.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/group__monitor.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/group__native.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/group__shapes.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/group__vulkan.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/group__window.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/index.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/input_8dox.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/input_guide.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/intro_8dox.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/intro_guide.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/jquery.js
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/main_8dox.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/modules.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/monitor_8dox.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/monitor_guide.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/moving_8dox.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/moving_guide.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/nav_f.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/nav_g.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/nav_h.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/news.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/news_8dox.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/open.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/pages.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/quick_8dox.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/quick_guide.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/spaces.svg
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/splitbar.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/structGLFWgammaramp.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/structGLFWimage.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/structGLFWvidmode.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/sync_off.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/sync_on.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/tab_a.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/tab_b.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/tab_h.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/tab_s.png
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/tabs.css
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/vulkan_8dox.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/vulkan_guide.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/window_8dox.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/html/window_guide.html
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/cmake_install.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/docs.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/docs.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/Doxyfile
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/INSTALL.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/INSTALL.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/docs/warnings.txt
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/CMakeFiles/generate.stamp
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/CMakeFiles/generate.stamp.depend
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/boing.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/boing.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/cmake_install.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/gears.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/gears.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/heightmap.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/heightmap.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/INSTALL.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/INSTALL.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/particles.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/particles.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/simple.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/simple.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/splitview.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/splitview.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/wave.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/examples/wave.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/src/CMakeFiles/generate.stamp
3RDPartyLibs/glfw-3.2.1/BUILD64/src/CMakeFiles/generate.stamp.depend
3RDPartyLibs/glfw-3.2.1/BUILD64/src/cmake_install.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/src/glfw.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/src/glfw.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/src/glfw_config.h
3RDPartyLibs/glfw-3.2.1/BUILD64/src/glfw3.pc
3RDPartyLibs/glfw-3.2.1/BUILD64/src/glfw3Config.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/src/glfw3ConfigVersion.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/src/INSTALL.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/src/INSTALL.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/CMakeFiles/generate.stamp
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/CMakeFiles/generate.stamp.depend
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/clipboard.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/clipboard.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/cmake_install.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/cursor.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/cursor.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/empty.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/empty.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/events.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/events.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/gamma.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/gamma.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/glfwinfo.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/glfwinfo.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/icon.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/icon.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/iconify.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/iconify.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/INSTALL.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/INSTALL.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/joysticks.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/joysticks.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/monitors.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/monitors.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/msaa.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/msaa.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/reopen.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/reopen.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/sharing.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/sharing.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/tearing.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/tearing.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/threads.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/threads.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/timeout.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/timeout.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/title.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/title.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/windows.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/tests/windows.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/ALL_BUILD.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/ALL_BUILD.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/cmake_install.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/cmake_uninstall.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeCache.txt
3RDPartyLibs/glfw-3.2.1/BUILD64/GLFW.sln
3RDPartyLibs/glfw-3.2.1/BUILD64/INSTALL.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/INSTALL.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/uninstall.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/uninstall.vcxproj.filters
3RDPartyLibs/glfw-3.2.1/BUILD64/ZERO_CHECK.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/ZERO_CHECK.vcxproj.filters
/Prototypes/palm/palm_bark_spec.png
/Prototypes/palm/palm_bark_norm.png
/Prototypes/palm/palm_bark.png
/Prototypes/palm/palm leafs_spec.png
/Prototypes/palm/palm leafs.png
/Prototypes/VULKAN/Triangle/data/Models/BlenderScene/BlenderScene_cycles.blend
/Prototypes/VULKAN/Triangle/data/Models/BlenderScene/BlenderScene.fbx
/Prototypes/VULKAN/Triangle/data/Models/BlenderScene/BlenderScene.dae
/Prototypes/VULKAN/Triangle/data/Models/BlenderScene/BlenderScene.blend1

/Prototypes/VULKAN/Triangle/data/Models/Sponza/AnimationsSponza.blend
/Prototypes/VULKAN/Triangle/data/Models/Sponza/Animation2.fbx
/Prototypes/VULKAN/Triangle/data/Models/Sponza/Animation.fbx
/Prototypes/wdockcs_blend
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/0c40cdf0be9286a1872b24e0c5c39012/generate.stamp.rule
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/0c40cdf0be9286a1872b24e0c5c39012/INSTALL_force.rule
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/0c40cdf0be9286a1872b24e0c5c39012/uninstall.rule
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/0db72a30c714d220a4a1f83059c5e0ff/INSTALL_force.rule
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/3.12.1/CompilerIdC/CMakeCCompilerId.c
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/3.12.1/CompilerIdC/CompilerIdC.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/3.12.1/CMakeCCompiler.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_C.bin
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/3.12.1/CMakeRCCompiler.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/3.12.1/CMakeSystem.cmake
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/3.12.1/VCTargetsPath.txt
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/3.12.1/VCTargetsPath.vcxproj
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/da6f1f1b11a58d6d4d2fe283d57fa162/INSTALL_force.rule
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/feature_tests.bin
3RDPartyLibs/glfw-3.2.1/BUILD64/CMakeFiles/feature_tests.c
Prototypes/VULKAN/Triangle/data/Models/BlenderScene/BlenderScene_large.blend
Prototypes/VULKAN/Triangle/data/Models/BlenderScene/BlenderScene_subdiv.mtl
Prototypes/VULKAN/Triangle/data/Models/BlenderScene/HeightMap_2.png
Prototypes/VULKAN/Triangle/data/Models/BlenderScene/HeightMap_Ground.png
